<!-- SCRIPTS -->

<!-- <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
<!-- <script type="text/javascript" src="node_modules/mdbootstrap/js/popper.min.js"> -->
<script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ url_for('static',filename='js/mdb.min.js') }}"></script>
<!-- DataTables JS -->
<script src="{{ url_for('static',filename='js/datatables.min.js') }}" type="text/javascript"></script>
<!-- Excel Export JS -->
<script src="{{ url_for('static',filename='js/jquery.table2excel.js') }}" type="text/javascript"></script>
<!-- CSV Export JS -->
<script src="{{ url_for('static',filename='js/table2csv.js') }}" type="text/javascript"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<!-- Dashboard JS -->
<script src="{{ url_for('static',filename='js/dashboard/chartist.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/dashboard/c3.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/dashboard/d3-5.4.0.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/dashboard/Chart.bundle.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/dashboard/jquery.sparkline.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/dashboard/raphael.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/dashboard/morris.js') }}" type="text/javascript"></script>
