{% extends "main.html" %}
{% block dispContent %}

    {% if success %}
        <div id="toast" class="show success-toast">
            <div id="desc">
                <i class="fa fa-check"></i>
                Transaction added successfully...
            </div>
        </div>
    {% endif %}

    <div class="container-fluid" >
        <h2>Transaction Out</h2>
        <hr>
        <div class="row justify-content-center align-items-end">
            <form class="needs-validation col-lg-6 col-xl-6" action="{{ url_for('outTransaction') }}" method="post" role="form">
                {{ form.hidden_tag() }}
                <div class="form-row">

                    <div class="col-md-12 mb-3">
                        <label for="customer">Customer</label>
                        <select class="browser-default custom-select" name="customer" id="customer">
                            {% for customer in customers %}
                                <option value="{{customer[0]}}">{{ customer[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="product">Product Name</label>
                        <select class="browser-default custom-select" name="product" id="product">
                            {% for product in products %}
                                <option value="{{product[0]}}">{{ product[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12 mb-3">
                    <div class="md-form">
                        <input type="text" name="stock" id="stock" class="form-control" value="{{ products[0][3]}}" disabled>
                        <label for="stock">Product Stock</label>
                    </div>
                    </div>

                    <div class="col-md-12 mb-3">
                    <div class="md-form">
                        <input type="number" name="units" id="units" class="form-control" value="1" required>
                        <label for="units">Units</label>
                    </div>
                    </div>

                    <div class="col-md-12 mb-3">
                    <div class="md-form">
                        <input type="number" name="amount" id="amount" class="form-control" value="{{ products[0][4]}}" step="0.01" required>
                        <label for="amount">Amount</label>
                    </div>
                    </div>

                    <input type="date" name="date" id="date" />
                    <div class="col-md-12 mb-3">
                        <button class="btn btn-primary float-right" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block bodyscript %}
    <script type="text/javascript">
        var product_cost = 0;
        $(document).ready(function(){
            product_cost = $("#amount").val();

            var d = new Date();
            var month = d.getMonth()+1;
            var day = d.getDate();

            var output = d.getFullYear() + '-' +
                (month<10 ? '0' : '') + month + '-' +
                (day<10 ? '0' : '') + day;
            $("#date").val(output);

            $(document).on('change','#product',function(){
                var product_id = $("#product").val();
                var units = $("#units").val();
                var url="/transaction/getproduct/"+product_id;
                var csrf_token = "{{ csrf_token() }}";
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: url,
                    headers: {
                        "X-CSRFToken": csrf_token,
                    },
                    dataType: "json",
                    success: function(data) {
                        if(data.status=='success'){
                            product_cost = data.data[4];
                            quantity = data.data[3];
                            amount = Number(product_cost) * Number(units);
                            $("#amount").val(amount.toFixed(2));
                            $("#stock").val(quantity);
                        }
                    },
                    error: function(jqXHR) {
                        console.log(jqXHR);
                    }
                });
            });
            $(document).on('change','#units', function(){
                var units = $("#units").val();
                amount = Number(product_cost) * Number(units);
                $("#amount").val(amount.toFixed(2));
            });
        });
    </script>
{% endblock %}
