<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/snippets/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="article:publisher" content="https://www.facebook.com/mdbootstrap">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MDBootstrap">
    <meta name="twitter:creator" content="@MDBootstrap">

    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sample Bootstrap Menu application">
    <meta name="author" content="Grace">
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../../favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
<!-- Latest compiled and minified JavaScript -->

<!-- Bootstrap CSS -->
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!--Main Navigation-->
    
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">F M S</a>
      <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/login">Sign In</a>
        </li>
      </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Market</a>
        </li>
      </ul>
    </nav>

      <!-- Page Content -->
      <div class="container">
        <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
        <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML or with CSS. For best results, use an SVG image as your logo.</p>
      </div>

  </header>
  <!--Main Navigation-->
    <main class="mt-5">
          <section id="gallery">
              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6 mb-4">

                      <!--Carousel Wrapper-->
                      <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
                            <!--/.Indicators-->
                          <!--Slides-->
                          <div class="carousel-inner z-depth-1-half">
                              <!--First slide-->
                              <div class="carousel-item active">
                                  <img class="d-block w-200" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg"
                                      alt="First slide">
                              </div>

                          </div>
                          <!--/.Slides-->

                      </div>
                      <!--/.Carousel Wrapper-->

                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-4">

                      <!--Excerpt-->
                      <a href="" class="teal-text">
                          <h6 class="pb-1"><i class="fa fa-heart"></i><strong> Trending </strong></h6>
                      </a>
                      <h4 class="mb-3"><strong>This is title of the news</strong></h4>
                      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
                          quod maxime
                          placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut
                          officiis
                          debitis aut rerum.</p>

                      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
                          quod maxime
                          placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut
                          officiis
                          debitis aut rerum.</p>
                      <p>by <a><strong>Jessica Clark</strong></a>, 26/08/2016</p>
                      <a class="btn btn-primary btn-md">Read more</a>

                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

          </section>
          <!--Section: Gallery-->

          <hr class="my-2">

          <!--Section: Contact-->
          <section id="contact">

              <!-- Heading -->
              <h2 class="mb-5 font-weight-bold text-left">Contact us</h2>

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-lg-5 col-md-12">
                      <!-- Form contact -->
                      <form class="p-5 grey-text">
                          <div class="md-form form-sm"> <i class="fa fa-user prefix"></i>
                              <input type="text" id="form3" class="form-control form-control-sm">
                              <label for="form3">Your name</label>
                          </div>
                          <div class="md-form form-sm"> <i class="fa fa-envelope prefix"></i>
                              <input type="text" id="form2" class="form-control form-control-sm">
                              <label for="form2">Your email</label>
                          </div>
                          <div class="md-form form-sm"> <i class="fa fa-tag prefix"></i>
                              <input type="text" id="form32" class="form-control form-control-sm">
                              <label for="form34">Subject</label>
                          </div>
                          <div class="md-form form-sm"> <i class="fa fa-pencil prefix"></i>
                              <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
                              <label for="form8">Your message</label>
                          </div>
                          <div class="text-center mt-4">
                              <button class="btn btn-primary">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                          </div>
                      </form>
                      <!-- Form contact -->
                  </div>
                      <!--Google map-->
                      <div id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>

                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

          </section>
          <!--Section: Contact-->

      </div>
    </main>
  <!--Main layout-->

  <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <!-- Social buttons -->
      <div class="primary-color">
          <div class="container">
              <!--Grid row-->
              <div class="row py-2 d-flex align-items-center">

                  <!--Grid column-->
                  </div>

              </div>
              <!--Grid row-->
          </div>
      </div>
      <!-- Social buttons -->

      <!--Footer Links-->
      <div class="container mt-5 mb-4 text-center text-md-left">
          <div class="row mt-3">

              <!--First column-->
              <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                  <h6 class="text-uppercase font-weight-bold">
                      <strong>F M S</strong>
                  </h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>Making management manageable!
                  </p>
              </div>
              <!--/.First column-->

              <!--Second column-->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold">
                      <strong>Products</strong>
                  </h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>
                      <a href="#!">Bedroom</a>
                  </p>
                  <p>
                      <a href="#!">Kitchen</a>
                  </p>
                  <p>
                      <a href="#!">Outdoors</a>
                  </p>
                  <p>
                      <a href="#!">Livingroom</a>
                  </p>
              </div>
              <!--/.Second column-->

              <!--Third column-->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold">
                      <strong>Useful links</strong>
                  </h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>
                      <a href="#!">Website</a>
                  </p>
                  <p>
                      <a href="#!">Shipping Rates</a>
                  </p>
                  <p>
                      <a href="#!">Help</a>
                  </p>
              </div>
              <!--/.Third column-->

              <!--Fourth column-->

          </div>
      </div>
      <!--/.Footer Links-->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a> Grace Sichali</a>
      </div>
      <!-- Copyright -->

  </footer>
  <!-- Footer -->

  </body>
</html>
